.output{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}
.box{
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 20%;
    background-color: red;
}
.message{
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
}